
/*layout */

.mdl-layout__content {
  background: #EEE;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
  padding-right: 0;
}
.blog-grid {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-shrink: 0;
}


/*CARDS --------------- */


/* Event card */

.demo-card-event.mdl-card {
  background: #2196F3
;
}

.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}

.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.);
}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
div.a{
  font-size: 16px;
  padding-top: 5px;
  padding-bottom:5px;
}
div.b{
  font-size: 24px;
  padding-top: 12px;
  padding-bottom:12px;
  font-weight: normal;
}

div.mdl-card__title{
  color: black;

}























